// Body
$body-bg: #f5f5f5;

// Typography
$font-family-base: "Segoe UI", sans-serif;
$font-size-base: 14px;
$font-color-base: #414143;
$line-height-base: 1.6;

// Colors

$color-primary: #089752;
$color-secondary: #343379;
$color-success: #00c911;
$color-danger: #eb1044;
$color-warning: #fcce00;
$color-info: #3894fe;
